/************************************* Minimal RESET ***************************************/
html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, strong, b, u, i, center, ul, li,fieldset, form, label, legend, 
article, aside, iframe, embed, footer, header, menu, nav {margin: 0;padding: 0;border: 0;font: inherit;vertical-align: baseline;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;font-size: 62,5%;}
ol, ul {list-style: none;}
/***/

pre{margin:5px auto;width:990px;padding:8px 35px 8px 14px;margin-bottom:18px;background-color:#efefef;color:#555;word-wrap:break-word;}
pre h2{font-size: 120%;font-weight: bold;}
pre.error{background-color:#fcf8e3;border:1px solid #fbeed5;color:#c09853;}


/************ facebook ******************/
.header 
{
	height: 38px;
	background-color: #3B5998;
}

/************ main ******************/
body
{
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: white;
}
.wrapper
{	
	width: 1200px;
	height: 730px;
	margin: 100px auto 0 auto;
	border: 2px solid black;
}
.dialog
{
	display:none;
}
.clear{
	clear:both;
}


/************ ingame **************/
.menu 
{
	height: 80px;
	background-color: grey;	
}
.menu li
{
	display: inline;
	margin-left: 150px;
	font-size: 20px;
}

	/*** Map **/
	#map{
	    text-align:center;
	    overflow:hidden;
	    width: 1200px;
	    height: 650px;
	    background: url('../images/gazon1.png');
	}
	#map_inner{
	    width: 1200px;
	    -webkit-transform: rotateX(60deg) rotateZ(45deg);
	    
	}
	.square-line{
	    height:34px;
	    clear:both;
	}
	.square-bg
	{
		width: 50px;
		height: 50px;
		float: left;
		background: url('../images/gazon.jpg');
	}
	.square, .square > div 
	{
		width: 50px;
		height: 50px;
		float: left;
	}
	.square-1{ background: url('../images/grasscubeag6.jpg'); }
	.square-2{ background: url('../images/manege.png'); }
	.square-3{ background: url('../images/hotdog.png'); }
	.square-4{ background: url('../images/beton.jpg'); }
	.square-5{ background: url('../images/roue.png'); }

	.locked{
		border: 1px solid red;
	}


/************ store ******************/
.store li
{
	display: inline;
	margin-left: 100px;
	font-size: 20px;
	color : white;
}

.store
{
	width: 1200px;
	height: 150px;
	background-color: grey;
	position: absolute;
	z-index: 100;
	top: 720px;
	display: none;
}

.item
{
	width: 60px;
	height: 80px;
	border: 1px solid black;
	padding : 10px;
}
.store button
{
	position: absolute;
	right: 0;
}